<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
th:fragment="layout(title,content)" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<b> URL Link 테스트 페이지입니다</b>
<ul>
    <li><a th:href="@{/linktest}">1.기본 url </a></li>
    <br>
    <li><a th:href="@{/linktest(param1=${post},param2=${place})}">2. 쿼리 파라미터 </a></li>
    <br>
    <li><a th:href="@{/linktest/{param1}/{param2}(param1=${post}, param2=${place})}"> 경로 변수</a></li>
    <br>
    <li><a th:href="@{/linktest/{param1}(param1=${post}, param2=${place})}">경로변수 + 쿼리파라미터</a></li>
    <br>
    <li>th:each 예제 입니다</li>

    <th:block th:each="reply:${replyList}">
        <ul th:text="${reply}"></ul>

    </th:block>
</ul>


</body>

</html>